@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$main-bg: #0d1117;
$header-bg: #161b22;
$title: #1f6feb;
$border: 1px solid #30363d;
$cta: #58a6ff;
$form-bg: #161b22;
$text: #c9d1d9;
$username: #8b949e;
$repo-color: #8b949e;
$header: #f0f6fc;
$btn-text: #f0f6fc;
$input-placeholder: #bac3c5;
$no-info-text: #373b42;
$error: #ff0c0c;
$input-focus: #1f6feb;
$input-focus-placeholder: #6e7681;
$scrollbar-thumb: #686868;
$scrollbar-thumb-hover: #5b5b5b;
$scrollbar-track: #424242;

$main-font: "Helvetica", sans-serif;
$username-font: "Arial", sans-serif;
$title-font: "Space Mono", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  list-style-type: none;
  scrollbar-width: auto;
  scrollbar-color: #686868 #424242;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;

    &:hover {
      background: $scrollbar-thumb-hover;
    }
  }
}

body,
#app {
  background: $main-bg;
  min-height: 100vh;
  color: $text;
  main {
    padding: 20px;
    height: calc(100vh - 65px);

    .infos {
      gap: 10px;
      height: calc(100% - 35px);
      @include flex(row, space-around);
      width: min(100%, 1300px);
      .info-section {
        padding: 1rem;
        margin: 30px auto;
        width: min(95%, 600px);
        height: 80%;
        max-height: 450px;
        border-radius: 15px;
        border: $border;
        .no-info {
          color: $no-info-text;
          user-select: none;
          cursor: default;

          &:hover {
            text-decoration: none;
          }
        }
      }
      a {
        color: $cta;
        text-decoration: none;
        font-size: inherit;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  * {
    font-size: 15px;
  }
}

@media screen and (max-height: 600px) {
  #app {
    main {
      .infos,
      .info-section {
        height: auto;

        .info-section {
          max-height: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #app {
    main {
      .infos {
        @include flex(column);
        height: auto;

        .repos-section {
          margin: 0 0 10px 0;
          border-right: $border !important;
          border-radius: 15px !important;
        }
      }
    }
  }
}
