@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$main-bg: #0d1117;
$header-bg: #161b22;
$title: #1f6feb;
$border: 1px solid #30363d;
$cta: #2585f5;
$form-bg: #161b22;
$text: #c9d1d9;
$username: #5a6169;
$header: #f0f6fc;
$btn-text: #f0f6fc;
$input-placeholder: #bac3c5;
$no-info-text: #373b42;
$error: #ff0c0c;
$input-focus: #1f6feb;
$input-focus-placeholder: #6e7681;

$main-font: "Helvetica", sans-serif;
$username-font: "Arial", sans-serif;
$title-font: "Space Mono", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  list-style-type: none;
}

body,
#app {
  background: $main-bg;
  min-height: 100vh;
  color: $text;
  main {
    padding: 20px;
    height: calc(100vh - 65px);

    .infos {
      height: calc(100% - 35px);
      @include flex(row, space-around);
      .info-section {
        padding: 1rem;
        margin: 30px auto;
        width: 95%;
        max-width: 600px;
        border-radius: 15px;
        border: $border;

        a {
          color: $cta;
          text-decoration: none;
          font-size: inherit;
        }

        a:hover {
          text-decoration: underline;
        }

        .no-info {
          color: $no-info-text;
          user-select: none;

          &:hover {
            text-decoration: none;
            cursor: default;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  * {
    font-size: 15px;
  }
}

@media screen and (max-height: 600px) {
  #app {
    main {
      .infos {
        height: auto;
      }
    }
  }
}
