@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$main-bg: #0d1117;
$header-bg: #161b22;
$title: #1f6feb;
$border: 1px solid #30363d;
$cta: #2585f5;
$form-bg: #161b22;
$text: #c9d1d9;
$username: #5a6169;
$header: #f0f6fc;
$btn-text: #f0f6fc;
$input-placeholder: #bac3c5;
$no-info-text: #373b42;
$input-error: #8f0000;
$input-focus: #1f6feb;
$input-focus-placeholder: #6e7681;

$main-font: "Helvetica", sans-serif;
$username-font: "Arial", sans-serif;
$title-font: "Space Mono", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  list-style-type: none;
}

#app {
  background: $main-bg;
  min-height: 100vh;

  main {
    padding: 20px;
    height: calc(100vh - 65px);
  }
}
